# 10. Part 1_Data Privacy & Low-activity User Exclusion
## Table of Contents
***

**`1. Import libraries`**

**`2. Create path and import data`**

**`3. Create an user exclusion for low-activity customers`**

**`4. Export user exclusion data`**

***

### 1. Import libraries

In [75]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import seaborn as sns
import scipy
import os

### 2. Create path and import data

In [3]:
# Create path
path= r'/Users/bonnieandbanana/Desktop/A New Career/CareerFoundry/Data Immersion/A4_Python/ Instacart Basket Analysis Project (IC)'

# Import data
df = pd.read_pickle(os.path.join(path,'02 data' , 'prepared data', 'new_orders_products_customers_merged.pkl'))

In [4]:
pd.options.display.max_columns = None

In [5]:
df['age'] = pd.to_numeric(df['age'])

In [6]:
df.head(5)

,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest days,busiest_period_of_the_day,max_order,loyalty_flag,avg_order_price,spending_flag,median_of_regularity,order_frequency_flag,first_name,surname,gender,state,age,date_joined,n_dependants,marital_status,income,_merge,region,activity_flag,income_group,age_group,dependants_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367796,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,high-activity customer,low-income,adult,With dependants
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367796,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,high-activity customer,low-income,adult,With dependants
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367796,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,high-activity customer,low-income,adult,With dependants
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367796,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,high-activity customer,low-income,adult,With dependants
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367796,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,high-activity customer,low-income,adult,With dependants

**Identifying personally identifiable information (PII):** <br/>
Colmuns of 'first_name', 'surname' are identified as PII.

###  3. Create an exclusion flag: low-activity & high-activity customers

In [31]:
# Create a flag for customers with less than 5 orders
df.loc[ df ['max_order'] <5 , 'activity_flag'] = 'low-activity customer'
df.loc[ df['max_order'] >= 5, 'activity_flag'] = 'high-activity customer'

In [32]:
# Check value counts
df['activity_flag'].value_counts(dropna = False)

high-activity customer    30959687
Name: activity_flag, dtype: int64

In [33]:
# Exclude the low-activity customers from the dataframe
df = df[df['activity_flag'] == 'high-activity customer']

In [34]:
# Check shape
df.shape

(30959687, 39)

**Confirmed that the number of rows match with the rows of high-activity customer**

### 4. Export user exclusion data

In [35]:
# Export the exclusion as pickle
df.to_pickle(os.path.join(path, '02 data' , 'prepared data' , 'low-activity_cus_excluded.pkl'))