# 7. Deriving New Variables

### Import libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Create path
path = r'/Users/bonnieandbanana/Desktop/A New Career/CareerFoundry/Data Immersion/A4_Python/ Instacart Basket Analysis Project (IC)'

### Import dataframe

In [4]:
# Import dataframe 'ords_prods_merge'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 data' , 'prepared data' , 'ords_prods_merge.pkl'))

### Create a subset to operate on (avoid memory issue)

In [5]:
df= ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 16)

### Use If-statements with user-defined function

In [7]:
# Define function
def price_label(row):
    
    if row ['prices'] <= 5:
        return 'Low-range product'
    elif (row ['prices'] > 5) and (row ['prices'] <= 15) :
        return 'Med-range product'
    elif row [ 'prices'] > 15:
        return 'High range'
    else : return 'Not enough data'

In [8]:
# Apply function in the newly created column
df ['price_range'] = df.apply(price_label, axis = 1)

/var/folders/0q/47hrk5n93wl2p7w37qq8g2q40000gn/T/ipykernel_3308/2473485647.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df ['price_range'] = df.apply(price_label, axis = 1)

In [9]:
df['price_range'].value_counts(dropna = False)

Med-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [10]:
df['prices'].max()

14.8

### Use If-Statements with the loc() Function

**Apply on the subset**

In [11]:
# Prices larger than 15
df.loc [df ['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/0q/47hrk5n93wl2p7w37qq8g2q40000gn/T/ipykernel_3308/2905662384.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc [df ['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
# Prices less than or equal to 15 and larger than 5 
df.loc [ (df ['prices'] <= 15) & (df ['prices'] > 5) , 'price_range_loc'] = 'Mid-range product'

In [13]:
# Prices less than or equal to 5
df.loc [ df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
# Check output
df ['price_range_loc'].value_counts (dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

**Apply on the entire dataframe**

In [15]:
# Prices larger than 15
ords_prods_merge.loc [ords_prods_merge ['prices'] > 15 , 'price_range_loc'] = 'High-range product'

In [16]:
# Prices less than or equal to 15 and larger than 5 
ords_prods_merge.loc [ (ords_prods_merge ['prices'] <= 15) & (ords_prods_merge ['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [17]:
# Prices less than or equal to 5
ords_prods_merge.loc [ ords_prods_merge ['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
# Check output
ords_prods_merge ['price_range_loc'].value_counts (dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

### If-Statements with For-Loops

In [19]:
# Get the frequence to know which day most orders take place
ords_prods_merge ['order_day_of_the_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_the_week, dtype: int64

**Observation** <br/>
Number of orders has been arranged in descending order, the day '0' with the most orders represent 'Saturday', while day '4' represents Wednesday

In [20]:
# Apply for-loop integrated with if-statements
result = []

for value in ords_prods_merge ['order_day_of_the_week'] :
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else :
        result.append('Regularly busy')

In [21]:
result [:5]

['Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy']

**Observation** <br/>
The list 'result' does not help much, it should be combined with the ords_prods_merge dataframe

In [22]:
# Combine result list with the dataframe
ords_prods_merge ['busiest_day'] = result

In [23]:
# Count the frequency of the new created column and cross-check it with frequency check done before the loop
ords_prods_merge ['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# Tasks

### 1. Ensure the column 'price_label' and 'busiest day'(singular) are created

In [24]:
# Check output
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy

### 2. Create a new column with indicators of 'busiest days' and  'slowest days'

In [25]:
# Check the frequence to obtain the busiest days and slowest days
ords_prods_merge ['order_day_of_the_week']. value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_the_week, dtype: int64

**Observation**<br/>
busiest days are '0' and '1' represent Saturday and Sunday; slowest days '3' and '4' represent Tuesday and Wednesday

In [26]:
# Use for-loop to create an empty list that categorizes the days.
result_1 = []

for x in ords_prods_merge ['order_day_of_the_week'] :
    if x in {0,1} :
        result_1.append('Busiest days')
    elif x in {3,4} :
        result_1.append('Slowest days')
    else :
        result_1.append('Regularly busy')

In [27]:
# Check the output list
result_1[:5]

['Regularly busy',
 'Slowest days',
 'Slowest days',
 'Slowest days',
 'Slowest days']

In [28]:
# Combine the list with the dataframe
ords_prods_merge ['busiest days'] = result_1

In [29]:
ords_prods_merge['busiest days']. value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest days, dtype: int64

**Observation**<br/>
1. Frequency check cannot be performed prior to the combination of dataframe and the list, the list does not have the attribute to apply **.value_counts** function<br/>
2. The frequency counts match with the original frequecy counts from the order_day_of_the_week column

In [30]:
# Check the desired column 'busiest days' (plural) has been created
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day,busiest days
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

**Observation**<br/>
The new column 'busiest days' is created with indicators of 'Busiest days', 'Slowest days', and 'Regular busy'

### 3. Identify the busiest hours of the day by creating a new column 'busiest_period_of_the_day'

In [31]:
# Get the frequency counts of the individual hours of the day
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [32]:
# Use for-loop by creating a list
outcome = []

for x in ords_prods_merge['order_hour_of_day']:
    if x in {9,16,12,13,14,15,11,10}:
        outcome.append('Most orders')
    elif x in {5,2,4,3}:
        outcome.append('Fewest orders')
    else :
        outcome.append('Average orders')

In [33]:
# Combine the list with dataframe by creating a new column
ords_prods_merge ['busiest_period_of_the_day'] = outcome

In [34]:
# Cross-check the frequency counts of the new created column
ords_prods_merge ['busiest_period_of_the_day'].value_counts(dropna=False)

Most orders       21118071
Average orders    11024929
Fewest orders       261859
Name: busiest_period_of_the_day, dtype: int64

**Observation**<br/>
The frequency counts match with the original frequency counts

In [35]:
# Check output
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day,busiest days,busiest_period_of_the_day
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

## Export data as pickle

In [36]:
# Export data
ords_prods_merge.to_pickle(os.path.join(path, '02 data' , 'prepared data' , 'ords_prods_derived.pkl'))